<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MiniTable</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
    </tr>
    </thead>
    <form method="post" th:action="@{/}" th:object="${wrapper}">
        <tbody>
        <tr th:each="line, stat : ${wrapper.lineList}">
            <td th:text="${line.id}"></td>
            <td th:each="str : ${line.cellsValues}">
                <input type="hidden" th:field="*{lineList[__${stat.index}__].id}">
                <input type="text" th:field="${line.cellsValues[__${stat.index}__]}">
            </td>
        </tr>
        </tbody>
        <input type="submit" hidden>
    </form>
</table>

</body>
</html>