<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MiniTable</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
    </tr>
    </thead>
    <tbody>
    <form method="post" th:action="@{/}" th:object="${wrapper}">
        <tr th:each="line, stat : ${wrapper.lineList}">
            <td th:text="*{lineList[__${stat.index}__].id}"></td>
            <td>
                <input type="hidden" th:field="*{lineList[__${stat.index}__].id}">
                <input type="text" th:field="*{lineList[__${stat.index}__].values[0]}">
            </td>
            <td><input type="text" th:field="*{lineList[__${stat.index}__].values[1]}"></td>
            <td><input type="text" th:field="*{lineList[__${stat.index}__].values[2]}"></td>
            <td><input type="text" th:field="*{lineList[__${stat.index}__].values[3]}"></td>
        </tr>
        <input type="submit" hidden>
    </form>
    </tbody>

</table>

</body>
</html>